body {
    margin:0;
    border: 0;
}
#navbar {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0px;
    padding-bottom: 0;
    list-style: none;
    font-weight: bold;
    /*background-color: white;
    border-color: #e8edf4;
*/    opacity: 70%;
}
.navbar.navbar-default {
    margin-bottom: 0;
    background-color: white;
    border-color: #9ebdd0;
}
.container {
    margin: 0;
    width: 100%;
    padding: 0;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 15px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
    background-color: white;
    opacity: 70%;
}
ul.social{
    list-style: none;
    text-align: center;
    width: 100%
}
li.social {
    float: left;
    padding:20px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color:grey;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: white;
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    position: absolute; 
    text-transform: uppercase;
    text-align: center; 
    letter-spacing: 32px;
    top: 200px; 
    width: 100%;
}

h2 {
    font-size: 1.6em;
    line-height: 4em;
    letter-spacing: 5px;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    position: absolute;
    text-align:center; 
    top: 300px; 
    width: 100%;
}
h3 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 50px;

}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;     
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
footer {
    font-size: .8em;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
img {
    position: relative;
    width: 100%;
    height: 89vh;
    object-fit: cover;

}
.fineart{
    width: 100%;
}
.fineart-item {
    width: 40%;
    height: auto;
    display: block;
    text-align: center;
    padding: 20px 0px 5px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.fineart-details {
    text-align: center;
    
}
p.inquiries {
    text-align: center;
    padding-bottom: 40px;
}
a.inquiries{
    color: #64dbcb;
}
