<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">HOME</a></li>
        		<li><a href="/about">ABOUT ME</a></li>
        		<li><a href="/fineart">FINE ART</a></li>
<!--         		<li><a href="/blog">BLOG</a></li>
 -->        		<li><a href="/cv">RESUME</a></li>
    		</ul>
		</nav>
		<div class="container">
		
			{{ content }}
			
		</div> <!-- /.container  -->
		<footer>
    		<ul>
        		<li><a href="mailto:shylah.chiera@gmail.com">shylah.chiera@gmail.com</a></li>
        		<li><a href="https://github.com/shylahchiera">github.com/shylahchiera</a></li>
			<li><a href="https://www.linkedin.com/in/shylah-banach-chiera-2b248a115">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>
 